.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* затемнение фона */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Контент модального окна */
.modalContent {
  width: 600px;
  max-height: 500px;
  overflow: auto;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.modalName {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartList {
  display: grid;
  gap: 10px;
}

.cartItem {
  display: flex;
  gap: 8px;
  padding: 10px;
  border: 1px solid teal;
  border-radius: 12px;
}

.cartInfo {
  display: grid;
  gap: 6px;
  width: 400px;
}

.imageCart {
  width: 100px;
  height: 100px;
}

.price {
  font-size: 22px;
  color: #e00000;
}